<article class="element">
  <img class="element__img" src="@image" alt="Wooden chair">
  <div class="element__element">
    <a class="element__link" href="#">
      <svg class="search2">
        <use xlink:href="images/icon/sprite.svg#search2"></use>
      </svg>
    </a>
    <button class="element__link">
      <svg class="basket2">
        <use xlink:href="images/icon/sprite.svg#basket2"></use>
      </svg>
    </button>
    <button class="element__link">
      <svg class="heart2">
        <use xlink:href="images/icon/sprite.svg#heart2"></use>
      </svg>
    </button>
  </div>
  <div class="element__desc">
    <h3>
      <a class="element__subtitle" href="#">Wooden radio</a>
    </h3>
    <span class="element__price">$29.00</span>
  </div>
</article>