<div class="blog__filter">
  <form class="blog__form" action="#">
    <label class="blog__label">
      <input class="blog__input" type="text">
    </label>
    <button class="blog__btn">
      <span class="sr-only">search product</span>
      <svg class="blog__btn-svg">
        <use xlink:href="images/icon/sprite.svg#search-blog"></use>
      </svg>
    </button>
  </form>
  <div class="blog__filter-wrap">
    <div class="filter-category__items">
  <h3 class="filter-category__title">category</h3>
  <ul class="filter-category__list">
    <li class="filter-category__item">
      <button class="filter-category__btn active" type="button">
        Chair
      </button>
    </li>
    <li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Table
  </button>
</li><li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Lamp
  </button>
</li><li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Watch
  </button>
</li><li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Clock
  </button>
</li>
  </ul>
</div>
  </div>
  <div class="blog__sift">
  <h3 class="blog__subtitle">recent post</h3>
  <ul class="blog__list">
    <li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room1.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        Corem ipsum dolor tetur adipisicing elit
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li><li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room2.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        Fdipisicing elit, sed do eiusmod tempor
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li><li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room3.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        Eonsectetur adipisicing elit, sed do eiusmod
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li><li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room4.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        gnim ad minim veniam, quis nostrud
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li>
  </ul>
</div>
</div>