<li class="blog__item">
  <a class="blog__img-inner" href="#">
    <img class="blog__img" src="../images/content/@blog__img" alt="Picture with furniture">
  </a>
  <div class="blog__wrap">
    <time datetime="28-janvar-2020" class="blog__time">
      28 janvar,2020
    </time>
    <span class="blog__admin">by admin</span>
  </div>
  <a class="blog__wrapper" href="#">
    <span class="blog__title">
      @blog__title
    </span>
    <div class="blog__text">
      <p>
        @blog__text
      </p>
    </div>
  </a>
  <a class="link blog__link" href="#">
    View More
    <svg class="arrow-blog">
      <use xlink:href="images/icon/sprite.svg#arrow"></use>
    </svg>
  </a>
</li>