<div class="blog__sift">
  <h3 class="blog__subtitle">recent post</h3>
  <ul class="blog__list">
    <li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room1.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        Corem ipsum dolor tetur adipisicing elit
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li><li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room2.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        Fdipisicing elit, sed do eiusmod tempor
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li><li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room3.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        Eonsectetur adipisicing elit, sed do eiusmod
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li><li class="blog__li">
  <a class="blog__img-wrap" href="#">
    <img src="../images/content/filter-room4.jpg" alt="Picture with furniture">
  </a>
  <a href="#">
    <div>
      <p>
        gnim ad minim veniam, quis nostrud
      </p>
      <time>28 january, 2020</time>
    </div>
  </a>
</li>
  </ul>
</div>