<div class="blog__sift">
  <h3 class="blog__subtitle">RECENT POSTS</h3>
  <ul class="blog__list">
    <li class="blog__li">
      <img src="../images/content/filter-room1.jpg" alt="Picture with furniture">
      <div>
        <p>
          Corem ipsum dolor tetur adipisicing elit
        </p>
        <time>28 JANUARY, 2020</time>
      </div>
    </li>
    <li class="blog__li">
      <img src="../images/content/filter-room2.jpg" alt="Picture with furniture">
      <div>
        <p>
          Fdipisicing elit, sed do eiusmod tempor
        </p>
        <time>28 JANUARY, 2020</time>
      </div>
    </li>
    <li class="blog__li">
      <img src="../images/content/filter-room3.jpg" alt="Picture with furniture">
      <div>
        <p>
          Eonsectetur adipisicing elit, sed do eiusmod
        </p>
        <time>28 JANUARY, 2020</time>
      </div>
    </li>
    <li class="blog__li">
      <img src="../images/content/filter-room4.jpg" alt="Picture with furniture">
      <div>
        <p>
          gnim ad minim veniam, quis nostrud
        </p>
        <time>28 JANUARY, 2020</time>
      </div>
    </li>
  </ul>
</div>