<div class="filter-category__items">
  <h3 class="filter-category__title">category</h3>
  <ul class="filter-category__list">
    <li class="filter-category__item">
      <button class="filter-category__btn active" type="button">
        Chair
      </button>
    </li>
    <li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Table
  </button>
</li><li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Lamp
  </button>
</li><li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Watch
  </button>
</li><li class="filter-category__item">
  <button class="filter-category__btn" type="button">
    Clock
  </button>
</li>
  </ul>
</div>