<header class="header">
  <div class="container container--big">
    <div class="header__inner">
      <nav class="menu">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="logotype">
        </a>
        <button class="menu__burger" type="button">
          <span class="menu__burger--span">
            <span class="sr-only">
              Button for additional menu
            </span>
          </span>
        </button>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--add" href="#home">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#about">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#services">Services</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--add" href="#pages">Pages</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#news">News</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contact">Contact</a>
          </li>
        </ul>
        <div class="menu-nav">
          <div class="menu-nav__list">
            <button class="menu-nav__link menu-nav__link--search" type="button">
              <svg class="menu-nav__svg menu-nav__svg--search">
                <use xlink:href="images/icon/sprite.svg#search"></use>
              </svg>
              <span class="sr-only">search</span>
            </button>
          </div>
          <div class="menu-nav__list">
            <a class="menu-nav__link menu-nav__link--heart" href="#">
              <svg class="menu-nav__svg">
                <use xlink:href="images/icon/sprite.svg#heart2"></use>
              </svg>
              <span class="menu-nav__num">0</span>
              <span class="sr-only">my list</span>
            </a>
            <a class="menu-nav__link menu-nav__link--basket" href="#">
              <svg class="menu-nav__svg">
                <use xlink:href="images/icon/sprite.svg#basket"></use>
              </svg>
              <span class="menu-nav__num">0</span>
              <span class="sr-only">basket</span>
            </a>
          </div>
          <div class="menu-nav__list">
            <button class="menu-nav__link menu-nav__link--point" type="button">
              <svg class="menu-nav__svg">
                <use xlink:href="images/icon/sprite.svg#point"></use>
              </svg>
              <span class="sr-only">additionally menu</span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>