<ul class="partners">
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo1.png" alt="logo peterson stephane">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo2.png" alt="logo cmn consulting">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo3.png" alt="logo chainforce">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo4.png" alt="logo nextg3n">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo5.png" alt="logo vintage">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo1.png" alt="logo peterson stephane">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo2.png" alt="logo cmn consulting">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo3.png" alt="logo chainforce">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo4.png" alt="logo nextg3n">
      </div>
    </a>
  </li>
  <li class="partners__item">
    <a href="#">
      <div class="partners__logo-size">
        <img class="partners__logo" src="images/icon/logo5.png" alt="logo vintage">
      </div>
    </a>
  </li>
</ul>