<ul class="partners">
  <li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo1.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo2.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo3.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo4.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo5.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo1.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo2.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo3.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo4.png" alt="logo peterson stephane">
  </a>
</li><li class="partners__item">
  <a class="partners__logo-size" href="#">
    <img class="partners__logo" src="images/icon/logo5.png" alt="logo peterson stephane">
  </a>
</li>
</ul>