<article class="product-card">
  <a class="product-card__wrap" href="#">
    <img class="product-card__img" src="images/content/@num.png" alt="Wooden chair">
  </a>
  <div class="product-card__element">
    <a class="product-card__link" href="#">
      <svg class="search2">
        <use xlink:href="images/icon/sprite.svg#search2"></use>
      </svg>
    </a>
    <button class="product-card__link">
      <svg class="basket2">
        <use xlink:href="images/icon/sprite.svg#basket2"></use>
      </svg>
    </button>
    <button class="product-card__link">
      <svg class="heart2">
        <use xlink:href="images/icon/sprite.svg#heart2"></use>
      </svg>
    </button>
  </div>
  <div class="product-card__desc">
    <h3>
      <a class="product-card__subtitle" href="#">Wooden radio</a>
    </h3>
    <span class="product-card__price">$29.00</span>
  </div>
</article>
<div class="product__items-inner">
  <h3 class="product__subtitle">Wooden radio</h3>
  <div class="star2" data-rateyo-rating="4"></div>
  <span>23$</span>
  <div class="product__text">
    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  </div>
  <ul class="product__list-items">
    <li class="product__svg">
      <a class="product__btn" href="#">
        <svg class="product__icon">
          <use xlink:href="images/icon/sprite.svg#basket3"></use>
        </svg>
      </a>
    </li>
    <li class="product__svg">
      <button class="product__btn" type="button">
        <svg class="product__icon">
          <use xlink:href="images/icon/sprite.svg#heart3"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>