<li class="team__data">
  <div class="team__img">
    <img src="images/content/@img.jpg" alt="red-haired girl looking at camera">
  </div>
  <div class="team__item">
    <div class="team__wrap">
      <p>@teamname</p>
      <span>@teamtext</span>
    </div>
    <ul class="team__svg">
      <li>
        <a class="team__link-svg" href="#">
          <span class="sr-only">Click to open Instagram</span>
          <svg class="team__icon">
            <use xlink:href="images/icon/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="team__link-svg" href="#">
          <span class="sr-only">Click to open goole</span>
          <svg class="team__icon">
            <use xlink:href="images/icon/sprite.svg#google"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</li>