<div class="blog__sift">
  <h3 class="blog__subtitle">recent post</h3>
  <ul class="blog__list">
    @loop('list/_blog__li.html', [
    {"filter-img" : "filter-room1",
    "filter.txt" : "Corem ipsum dolor tetur adipisicing elit"},
    {"filter-img" : "filter-room2",
    "filter.txt" : "Fdipisicing elit, sed do eiusmod tempor"},
    {"filter-img" : "filter-room3",
    "filter.txt" : "Eonsectetur adipisicing elit, sed do eiusmod"},
    {"filter-img" : "filter-room4",
    "filter.txt" : "gnim ad minim veniam, quis nostrud"}
    ])
  </ul>
</div>