<li class="blog__item">
  <div class="blog__img-inner">
    <img class="blog__img" src="../images/content/@blog__img" alt="Picture with furniture">
    <div class="blog__wrap">
      <time class="blog__time" datetime="2020-01-28">
        28 janvar,2020
      </time>
      <span class="blog__admin">by admin</span>
    </div>
  </div>
  <a class="blog__wrapper" href="#">
    <span class="blog__title">
      @blog__title
    </span>
    <div class="blog__text">
      <p>
        @blog__text
      </p>
    </div>
  </a>
  <a class="link blog__link" href="#">
    View More
    <svg class="arrow-blog">
      <use xlink:href="images/icon/sprite.svg#arrow"></use>
    </svg>
  </a>
</li>