<section class="commercial">
  <div class="container">
    <div class="commercial__inner">
      <h2 class="title commercial__title">
        Our Insights & Articles
      </h2>

      <a class="commercial__add" href="#">
        View All
        <svg class="right-arrow">
          <use xlink:href="images/icon/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="commercial__bottom">
    <div class="container">
      <ul class="commercial__items">
        @loop('list/_commercial__li.html', [
        {"image" : "room1","alt" : "Room with furniture","text" : "Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"},
        {"image" : "room2","alt" : "Room with furniture","text" : "Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore"},
        {"image" : "room3","alt" : "Room with furniture","text" : "Rncididunt ut labore et dolore magna aliqua. Ut enim"}
        ])
      </ul>
      <div class="commercial__wrapper">
        @include('_partners.html')
      </div>
    </div>
  </div>
</section>