<footer class="footer" id="contact">
  <div class="container">
    <div class="footer__top">
      <div class="footer__list">
        <div class="footer__item">
          <a class="logo footer__logo" href="#">
            <img class="footer__logo-img" src="images/logo.png" alt="logotype">
          </a>
          <address class="footer__address">
            <ul>
              <li class="footer__address-list">
                <span class="footer__add">address:</span>
                <a class="footer__add" href="#">
                  4772 Wines Lane
                    Houston, TX 77032
                </a>
              </li>
              <li class="footer__address-list">
                <span class="footer__add">telephone:</span>
                <a class="footer__tell" href="tel:+8323475843">
                  +832-347-5843
                </a>
              </li>
              <li class="footer__address-list">
                <span class="footer__add">email:</span>
                <a class="footer__tell" href="mailto:contact@Glee.com">
                  contact@Glee.com
                </a>
              </li>
            </ul>
          </address>
        </div>
        <div class="footer__item footer__item--about">
          <div class="footer__element">
            <p class="footer__title">services</p>
            <a class="footer__about" href="#">About us</a>
          </div>
          <div class="footer__element">
            <a class="footer__about" href="#">Return Policy</a>
          </div>
          <div class="footer__element">
            <a class="footer__about" href="#">Our Blog</a>
          </div>
          <div class="footer__element">
            <a class="footer__about" href="#">Contact Us</a>
          </div>
          <div class="footer__element">
            <a class="footer__about" href="#">Terms & Condition</a>
          </div>
        </div>
        <div class="footer__item footer__item--login">
          <div class="footer__element">
            <p class="footer__title">account</p>
            <a class="footer__account" href="#">Your Account</a>
          </div>
          <div class="footer__element">
            <a class="footer__account" href="#">Checkout</a>
          </div>
          <div class="footer__element">
            <a class="footer__account" href="#">Login</a>
          </div>
          <div class="footer__element">
            <a class="footer__account" href="#">Register</a>
          </div>
        </div>
        <div class="footer__item footer__item--sub">
          <p class="footer__title footer__title--last">new sletter</p>
          <p>
            Subscribe by our newsletter and get
            update protidin.
          </p>
          <form class="form" action="#">
            <label class="form__label">
              <input class="form__input" type="email" placeholder="Email adress" required>
            </label>
            <button class="form__btn" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__author">
        <p>©2020 CopyRight Example. All rights reserved.</p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__items">
          <li class="footer__li">
            <a class="footer__link" href="#">Home</a>
          </li>
          <li class="footer__li">
            <a class="footer__link" href="#">About</a>
          </li>
          <li class="footer__li">
            <a class="footer__link" href="#">Blog</a>
          </li>
          <li class="footer__li">
            <a class="footer__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>