<ul class="mixitup">
  <li class="mixitup__button">
    <button class="mixitup__btn @mixfilter" type="button" data-filter="all">
      All
    </button>
  </li>
  <li class="mixitup__button">
    <button class="mixitup__btn @mixfilter" type="button" data-filter=".category-a">
      Furnitures
    </button>
  </li>
  <li class="mixitup__button">
    <button class="mixitup__btn @mixfilter" type="button" data-filter=".category-b">
      Chairs
    </button>
  </li>
  <li class="mixitup__button">
    <button class="mixitup__btn @mixfilter" type="button" data-filter=".category-c">
      Lighting
    </button>
  </li>
  <li class="mixitup__button">
    <button class="mixitup__btn @mixfilter" type="button" data-filter=".category-d">
      Decor
    </button>
  </li>
</ul>