@include('_product-card.html',{
"image" : "images/content/@num.png"
})
<div class="product__items-inner">
  <h3 class="product__subtitle">Wooden radio</h3>
  <div class="star2" data-rateyo-rating="4"></div>
  <span>23$</span>
  <div class="product__text">
    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  </div>
  <ul class="product__list-items">
    <li class="product__svg">
      <a class="product__btn" href="#">
        <svg class="product__icon">
          <use xlink:href="images/icon/sprite.svg#basket3"></use>
        </svg>
      </a>
    </li>
    <li class="product__svg">
      <button class="product__btn" type="button">
        <svg class="product__icon">
          <use xlink:href="images/icon/sprite.svg#heart3"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>